body {
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.el-input {
    flex: 1;
}

.text-center {
    text-align: center;
}

.mb-3 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 40px;
}

.mt-3 {
    margin-top: 20px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.upload-demo {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .button-group {
        justify-content: center;
    }
}

.el-select .el-input__suffix {
    display: none;
}

.custom-select .el-input__inner {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 10px;
}
